<!DOCTYPE html>
<html lang="en">
<!-- head.ejs partial -->
<%- include("./partials/head.ejs") %>

    <body>
        <!-- header.ejs partial -->
        <%- include("./partials/header.ejs") %>
        <a href="/user/logout"><button>Logout</button></a>
            <main>
                <div>
                    <a href="fruit/new">
                        <button>Create a new fruit</button>
                    </a>
                    <% for (fruit of fruits) { %>
                        <article>
                            <a href="/fruit/<%= fruit._id %>">
                                <h2>
                                    <%= fruit.name %> - <%= fruit.readyToEat ? "Ripe" : "Not Ripe" %>
                                </h2>
                            </a>
                        </article>
                        <% } %>
                </div>
            </main>
    </body>

</html>
